body{
    font-family: 'Space Mono' sans-serif;
    font-family: 'Monserrat ' sans-serif;
    margin: 0;
}
.wrap{
    background: #1C1C28;
}
.container{
  max-width: 1440px;
  max-height: 100%;
  margin: 0 auto;
}
.header__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 24px;
}
.header__content_nav{
    display: flex;
    gap: 30px;
}
.header__content_nav-link{
    color: var(--text-icon-secondary, #C8C7D8);
    font-family: Space Mono;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; 
    text-decoration: none;
    gap: 20px;
}
.button{
    color: var(--text-icon-primary, #FFF);
    font-family: Circular Std;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    border-radius: 7.29px;
    background: var(--accent-brand, #6966FF);
    border-color: #6966FF;
    padding: 12px 16px;
}
@media screen and (max-width:1024px) {
    .header__content_nav-link{
        display: none;
    }
}
@media screen and (max-width:320px) {
    .button{
        display: flex;
        align-items: center;
        width: 80px;
        height: 40px;
        font-size: 15px;
        
    }
    .button span{
        display: none;
    }
}   
.hero_content{
    padding: 86px 15px;
}
.hero_content_title{
    color: var(--text-icon-primary, #FFF);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Circular Std;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: 88px; 
    letter-spacing: -1.76px;
}
.hero_svg{
     display: flex;
     align-items: center;
     justify-content: end;
     padding: 0 0 10px 0 ;
     max-width: 930px;

}
.hero_button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    padding: 0;
}
.hero-button1{
    width: 200px;
    height: 50px;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px; 
    border-radius: 7.29px;
    background: #393939;
    border-color: #393939;
}
.hero-button2{
    width: 200px;
    height: 50px;
    color:  #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px; 
    border-radius: 7.29px;
    background:  #6966FF;
    border-color: #6966FF;
}
.hero_icon{
    width: 12px;
}
@media screen and (max-width:656px) {
    .hero_content_title{
        font-size: 60px;
    }
}
@media screen and (max-width:400px) {
    .hero_content_title{
        font-size: 55px;
    }
}
@media screen and (max-width:1024px) {
    .hero_svg2{
        width: 450px;
        
    }
}
@media screen and (max-width:400px) {
    .hero_button{
        display: grid;
        grid-template-columns: 1fr;
        gap: 16px;

    }
}
@media screen and (max-width:320px) {
    .hero-button1{
        width: 310px;
    }
}
@media screen and (max-width:320px) {
    .hero-button2{
        width: 310px;
    }
}
.number_title{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    padding: 5px 0 0 0;
}
.number_text{
    text-align: center;
    color:  #FFF;
    font-family: Space Mono;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; 
}
@media screen and (max-width:320px) {
    .number_title{
        display: grid;
        grid-template-columns: 1fr;
    }
}
.project_title{
    color:  #FFF;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.88px;
}
.project_title2{
    color: #C8C7D8;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.252px;
}
.project_title3{
    color:  #6966FF;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    letter-spacing: -0.252px;
    padding: 0 0 60px 0;
}
.project_icon{
    width: 18px;
}
.project_cards{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 48px;
    padding: 15px;
}
.project_card{
    display: flex;
    flex-direction: column;
    background: #393939;
    max-width: 392px;
    height: 550px;
    border-radius: 10px;
    list-style: none;
    padding: 15px;
    gap: 200px;
}
.project_card2{
    background: #393939;
    max-width: 392px;
    height: 100%;
    border-radius: 10px;
    list-style: none;

}
.badgraund{
    background: #A59EBA;
    max-width: 400px;
    height: 150px;
    border-radius: 10px;
}
.card_title{
    background: #393939;
    max-width: 392px;
    height: 386px;
    border-radius: 10px;
    list-style: none;
    padding: 15px;
}
.card_text{
    color: #A59EBA;
    font-family: Space Mono;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    margin: 0;
}
.card_text2{
    color:  #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; 
    letter-spacing: -0.456px;
}
.card_text4{
    color:  #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 450;
    line-height: 24px; 
    letter-spacing: -0.176px;
}
.card_text3{
    color:  #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 450;
    line-height: 24px; 
    letter-spacing: -0.176px;
    padding: 0 0 60px;
}
.card_text5{
    color:  #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 450;
    line-height: 24px; 
    letter-spacing: -0.176px;
}
.img_avatar{
    bottom: 0;
}
.img_avatar3{
}
@media screen and (max-width:320px) {
    .project_cards{
        display: grid;
        grid-template-columns: 1fr ;
        gap: 40px;
    }
}
@media screen and (max-width:320px) {
   .project_card{
    gap: 115px;
    }
    .card_text3{
        padding: 0 0 1px;
    }
}
.what_text{
    position: relative;
    color: var(--text-icon-primary, #FFF);
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px; 
    letter-spacing: -0.88px;
    padding: 90px 0 0;
}
.what_icons{
    position: absolute;
    right: 800px;
    padding: 60px 0 0 0;

}
.what_text2{
    color: var(--text-icon-secondary, #C8C7D8);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    letter-spacing: -0.252px;
}
.what_text3{
    color: var(--accent-brand, #6966FF);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    letter-spacing: -0.252px;
    padding: 0 0 60px 0;
}
.what_icon{
    width: 12px;
}
@media screen and (max-width:320px) {
    .what_icons{
      right: 10px;
    }
}
.round_cards{
    display: flex;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;
    padding: 25px;
}
.round_card{
    list-style: none;
    background: #393939;
    max-width: 392px;
    height: 100%;
    border-radius: 10px;
}
.round_card2{
    list-style: none;
    max-width: 392px;
    height: 100%;
    padding: 24px;
}
.round_text{
    color: var(--text-icon-secondary, #C8C7D8);
    font-family: Space Mono;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
}
.round_text2{
    color: #FFF;
    font-family: Circular Std;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; 
    letter-spacing: -0.456px;
}
.round_text3{
    color: var(--text-icon-secondary, #C8C7D8);
    font-family: Space Mono;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    padding: 20px 0 0;
}
.img {
    max-width: 300px;
    height: 200px;
}
@media screen and (max-width:320px) {
    .round_cards{
        display: grid;
        grid-template-columns: 1fr;
        gap: 40px;
    }
}



